<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="dashboard-container">
      <div class="dashboard-stats">
        <div class="stat-top-row">
          <div class="stat">
            Products: <%= products.reduce((acc,curr) => acc + curr.quantity, 0)
            %>
          </div>
          <div class="stat">
            Store Value: £<%= products.reduce((acc,curr) => acc +
            parseFloat((curr.quantity*curr.cost).toFixed(2)),0) %>
          </div>
        </div>
        <div class="stat-bottom-row">
          <div class="stat">
            Out of Stock: <%= products.reduce((acc,curr) => acc + !curr.inStock,
            0) %>
          </div>
          <div class="stat">
            Categories: <% const categories = []; products.map((product) =>
            categories.push(product.category)); const uniqueCategories =[...new
            Set(categories)].length; %> <%= uniqueCategories %>
          </div>
        </div>
      </div>
      <div class="dynamic-products-container">
        <div class="products-table">
          <div class="table-header">Name</div>
          <div class="table-header">SKU</div>
          <div class="table-header">Actions</div>
          <div class="table-header">Cost</div>
          <div class="table-header">Quantity</div>
          <div class="table-header">Value</div>
          <div class="table-header">Availability</div>
          <div class="table-header">Category</div>
        </div>
        <% if(products.length >0 ) { %> <% products.map((product) => { %>
        <div class="product-row">
          <div><%=product.name%></div>
          <div><%=product.sku%></div>
          <div>
            <a href="/products/edit-product/<%= product._id %>">edit</a>
            <button id="delete" data-doc="<%= product._id %>">delete</button>
            <a href="/products/<%= product._id %>">view</a>
          </div>
          <div><%=`£${product.cost.toFixed(2)}`%></div>
          <div><%=product.quantity%></div>
          <div><%=`£${(product.quantity*product.cost).toFixed(2)}`%></div>
          <div><%=product.inStock%></div>
          <div><%=product.category%></div>
        </div>
        <%})} else {%>
        <p>No products saved</p>
        <%}%>
      </div>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
  <script>
    const dynamicProdContainer = document.querySelector(
      '.dynamic-products-container'
    );

    dynamicProdContainer.addEventListener('click', async (e) => {
      const targetElement = e.target.id;
      const endpoint = `/products/${e.target.dataset.doc}`;
      if (targetElement === 'delete') {
        try {
          const response = await fetch(endpoint, {
            method: 'DELETE',
          });
          const data = await response.json();
          window.location.href = data.redirect;
        } catch (err) {
          console.log(err);
        }
      }
    });
  </script>
</html>
