<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="dashboard-container">
      <div class="dashboard-stats">
        <div class="stat-top-row">
          <div class="stat">Total Products</div>
          <div class="stat">Total Store Value</div>
        </div>
        <div class="stat-bottom-row">
          <div class="stat">Out of Stock</div>
          <div class="stat">All Categories</div>
        </div>
      </div>
      <div class="dynamic-products-container">
        <div class="products-table">
          <div class="table-header">Name</div>
          <div class="table-header">SKU</div>
          <div class="table-header">Actions</div>
          <div class="table-header">Cost</div>
          <div class="table-header">Quantity</div>
          <div class="table-header">Value</div>
          <div class="table-header">Availability</div>
          <div class="table-header">Category</div>
        </div>
        <% if(products.length >0 ) { %> <% products.map((product) => { %>
        <div class="product-row">
          <div><%=product.name%></div>
          <div><%=product.sku%></div>
          <div>
            <button id="edit" data-doc="<%= product._id %>">
              <a href="/products/edit-product/<%= product._id %>">edit</a>
            </button>
            <button id="delete" data-doc="<%= product._id %>">delete</button>
            <button id="view">
              <a href="/products/<%= product._id %>">view</a>
            </button>
          </div>
          <div><%=`£${product.cost.toFixed(2)}`%></div>
          <div><%=product.quantity%></div>
          <div><%=`£${(product.quantity*product.cost).toFixed(2)}`%></div>
          <div><%=product.inStock%></div>
          <div><%=product.category%></div>
        </div>
        <%})} else {%>
        <p>No products saved</p>
        <%}%>
      </div>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
