<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="dashboard-container">
      <div class="dashboard-stats">
        <div class="stat">
          <img class="dashboard-icons" src="images/products.png" />
          Products: <%= products.reduce((acc,curr) => acc + curr.quantity, 0) %>
        </div>
        <div class="stat">
          <img class="dashboard-icons" src="images/store-value.png" />
          Store Value: £<%= products.reduce((acc,curr) => acc +
          parseFloat((curr.quantity*curr.price).toFixed(2)),0).toFixed(2) %>
        </div>
        <div class="stat">
          <img class="dashboard-icons" src="images/out-of-stock.png" />
          Out of Stock: <%= products.reduce((acc,curr) => acc + !curr.inStock,
          0) %>
        </div>
        <div class="stat">
          <img class="dashboard-icons" src="images/categories.png" />
          Categories: <% const categories = []; products.map((product) =>
          categories.push(product.category)); const uniqueCategories =[...new
          Set(categories)].length; %> <%= uniqueCategories %>
        </div>
      </div>
      <div class="search-container">
        <form class="search-form" action="/dashboard" method="POST">
          <input
            type="search"
            id="product-search"
            name="search"
            placeholder="Search products"
            required
          />
          <button class="search-button">
            <img src="images/search.png" height="20px" width="20px" />
          </button>
        </form>
        <a href="/dashboard">All products</a>
      </div>
      <div class="dynamic-products-container">
        <div class="products-table">
          <div class="table-header">Name</div>
          <div class="table-header">SKU</div>
          <div class="table-header-center">Actions</div>
          <div class="table-header">Price</div>
          <div class="table-header">Quantity</div>
          <div class="table-header">Value</div>
          <div class="table-header">Availability</div>
          <div class="table-header">Category</div>
        </div>
        <% if(products.length >0 ) { %> <% products.map((product) => { %>
        <div class="product-row">
          <div><%=product.name%></div>
          <div><%=product.sku%></div>
          <div class="actions-row">
            <div class="actions-containers">
              <a href="/products/edit-product/<%= product._id %>"
                ><img class="action-icons" src="images/edit.png" />
              </a>
              Edit
            </div>
            <div class="actions-containers">
              <a href="/products/delete-product/<%= product._id %>"
                ><img class="action-icons" src="images/delete.png"
              /></a>
              Delete
            </div>
            <div class="actions-containers">
              <a href="/products/product-details/<%= product._id %>"
                ><img class="action-icons" src="images/view.png"
              /></a>
              View
            </div>
          </div>
          <div>£<%=product.price.toFixed(2)%></div>
          <div><%=product.quantity%></div>
          <div>£<%=(product.quantity*product.price).toFixed(2)%></div>
          <div><%=product.inStock ? 'In stock' : 'Out of stock'%></div>
          <div><%=product.category%></div>
        </div>
        <%})} else {%>
        <p class="no-prods-found">No products found</p>
        <%}%>
      </div>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
