<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="edit-product-content">
      <h2>Edit product</h2>
      <form class="edit-product-form" data-doc="<%= product._id %>">
        <label for="name"> Product Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= product.name %>"
          required
        />
        <label for="name"> Stock Keeping Unit (SKU): </label>
        <input
          type="text"
          id="sku"
          name="sku"
          value="<%= product.sku %>"
          required
        />
        <label for="description"> Product Description:</label>
        <textarea id="description" name="description" required>
        <%= product.description %>
        </textarea>
        <label for="cost"> Price (£):</label>
        <input
          type="number"
          id="price"
          name="price"
          value="<%= product.price %>"
          step="0.01"
          placeholder="0.00"
          required
        />
        <label for="in stock"> In Stock:</label>
        <input
          type="checkbox"
          id="in-stock"
          name="inStock"
          checked="<%= product.inStock %>"
        />
        <label for="name"> Quantity:</label>
        <input
          type="number"
          id="quantity"
          name="quantity"
          value="<%= product.quantity %>"
          required
        />
        <label for="name"> Category:</label>
        <select name="category" id="category" required>
          <% categories.map((category) => { %>
          <option value="<%= category.categoryName %>">
            <%= category.categoryName %>
          </option>
          <%}) %>
        </select>
        <div class="hidden">
          <input
            class="hidden"
            type="text"
            name="productId"
            value="<%= product._id %>"
            required
          />
        </div>
        <button>Submit</button>
      </form>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
  <script>
    const editProdForm = document.querySelector('.edit-product-form');
    const inStock = document.getElementById('in-stock');
    const quantityInput = document.getElementById('quantity');

    const getValue = (input) => document.getElementById(`${input}`).value;

    inStock.addEventListener('click', () => {
      inStock.checked
        ? ((quantityInput.value = 0), (quantityInput.disabled = false))
        : ((quantityInput.value = 0), (quantityInput.disabled = true));
    });

    editProdForm.addEventListener('submit', async (e) => {
      try {
        e.preventDefault();
        const endpoint = `/products/${e.target.dataset.doc}`;
        const formData = {
          _id: e.target.dataset.doc,
          name: getValue('name'),
          sku: getValue('sku'),
          description: getValue('description'),
          price: getValue('cost'),
          inStock: inStock.checked,
          quantity: getValue('quantity'),
          category: getValue('category'),
        };
        const response = await fetch(endpoint, {
          headers: {
            'Content-Type': 'application/json',
          },
          method: 'PUT',
          body: JSON.stringify(formData),
        });
        const data = await response.json();
        window.location.href = data.redirect;
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
