<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="edit-product-content">
      <h2>Edit: <%= product.name %></h2>
      <p><img src="/<%= product.productImage.slice(7) %>" /></p>
      <form class="edit-product-form" data-doc="<%= product._id %>">
        <label for="name"> Product Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= product.name %>"
          required
        />
        <label for="image"> Product image:</label>
        <input
          type="file"
          id="product-image-upload"
          name="productImage"
          accept="image/png, image/jpeg"
          required
        />
        <label for="name"> Stock Keeping Unit (SKU): </label>
        <input
          type="text"
          id="sku"
          name="sku"
          value="<%= product.sku %>"
          required
        />
        <label for="description"> Product Description:</label>
        <textarea id="description" name="description" required>
        <%= product.description %>
        </textarea>
        <label for="cost"> Price (£):</label>
        <input
          type="number"
          id="price"
          name="price"
          value="<%= product.price %>"
          step="0.01"
          placeholder="0.00"
          required
        />
        <label for="in stock"> In Stock:</label>
        <input
          type="checkbox"
          id="in-stock"
          name="inStock"
          checked="<%= product.inStock %>"
        />
        <label for="name"> Quantity:</label>
        <input
          type="number"
          id="quantity"
          name="quantity"
          value="<%= product.quantity %>"
          required
        />
        <label for="name"> Category:</label>
        <select name="category" id="category" required>
          <% categories.map((category) => { %>
          <option value="<%= category.categoryName %>">
            <%= category.categoryName %>
          </option>
          <%}) %>
        </select>
        <label for="password"> Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Password"
        />
        <div class="hidden">
          <input
            class="hidden"
            type="text"
            name="productId"
            value="<%= product._id %>"
            required
          />
        </div>
        <div class="password-warning hidden">Please enter a valid password</div>
        <button>Submit</button>
      </form>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
  <script>
    const editProdForm = document.querySelector('.edit-product-form');
    const inStock = document.getElementById('in-stock');
    const quantityInput = document.getElementById('quantity');
    const productImgUpload = document.getElementById('product-image-upload');
    const passwordWarning = document.querySelector('.password-warning');

    console.log();
    const getValue = (input) => document.getElementById(`${input}`).value;

    inStock.addEventListener('click', () => {
      inStock.checked
        ? ((quantityInput.value = 0), quantityInput.removeAttribute('readonly'))
        : ((quantityInput.value = 0),
          quantityInput.setAttribute('readonly', true));
    });

    editProdForm.addEventListener('submit', async (e) => {
      try {
        e.preventDefault();
        const endpoint = `/products/${e.target.dataset.doc}`;
        const formData = new FormData();
        formData.append('_id', `${e.target.dataset.doc}`);
        formData.append('name', `${getValue('name')}`);
        formData.append('sku', `${getValue('sku')}`);
        formData.append('description', `${getValue('description')}`);
        formData.append('price', `${getValue('price')}`);
        formData.append('inStock', `${inStock.checked}`);
        formData.append('quantity', `${getValue('quantity')}`);
        formData.append('category', `${getValue('category')}`);
        formData.append('productImage', productImgUpload.files[0]);

        console.log('productImgUpload.files[0]', productImgUpload.files[0]);

        const response = await fetch(endpoint, {
          method: 'PUT',
          body: formData,
          headers: {
            authorisation: `${document.getElementById('password').value}`,
          },
        });
        const data = await response.json();
        console.log('data', data);
        data.message === 'Unauthorized'
          ? (passwordWarning.className = 'password-warning')
          : (passwordWarning.className = 'password-warning hidden'),
          (window.location.href = data.redirect);
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
