<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="product-details">
      <h2>Product: <%= product.name %></h2>
      <p>Availability: <%= product.inStock %></p>
      <p>SKU: <%= product.sku %></p>
      <p>Category: <%= product.category %></p>
      <p>Price Per Unit: <%= `£${product.cost.toFixed(2)}` %></p>
      <p>Quantity <%= product.quantity %></p>
      <p>Value <%=`£${(product.quantity*product.cost).toFixed(2)}`%></p>
      <p>Description<%= product.description %></p>
      <p>Created at:<%= product.createdAt %></p>
      <p>Last updated:<%= product.updatedAt %></p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
