<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="add-product-content">
      <h2>Add a new product</h2>
      <form action="/products" method="POST" enctype="multipart/form-data">
        <label for="name"> Product Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="image"> Product image:</label>
        <input
          type="file"
          id="product-image"
          name="productImage"
          accept="image/png, image/jpeg"
        />
        <label for="name"> Stock Keeping Unit (SKU): </label>
        <input type="text" id="sku" name="sku" required />
        <label for="description"> Product Description:</label>
        <textarea id="body" name="description" required></textarea>
        <label for="name"> Price (£):</label>
        <input
          type="number"
          id="price"
          name="price"
          step="0.01"
          placeholder="0.00"
          required
        />
        <label for="in stock"> In Stock:</label>
        <input type="checkbox" id="in-stock" name="inStock" checked="true" />
        <label for="name"> Quantity:</label>
        <input type="number" id="quantity" name="quantity" required />
        <label for="category"> Category:</label>
        <select name="category" id="category" required>
          <% if(categories.length >0 ) { %> <% categories.map((category) => { %>
          <option value="<%= category.categoryName %>">
            <%= category.categoryName %>
          </option>
          <%})} else {%>
          <option value="">--Please first add a category--</option>
          <%}%>
        </select>
        <button>Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
  <script>
    const inStock = document.getElementById('in-stock');
    const quantityInput = document.getElementById('quantity');

    inStock.addEventListener('click', () => {
      inStock.checked
        ? ((quantityInput.value = 0), quantityInput.removeAttribute('readonly'))
        : ((quantityInput.value = 0),
          quantityInput.setAttribute('readonly', true));
    });
  </script>
</html>
