<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="delete-product-content">
      <h2>Are you sure you want to delete <%=product.name %> ?</h2>
      <form class="delete-form" data-doc="<%= product._id %>">
        <label for="password"> Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Password"
        />
        <div class="password-error errors"></div>
        <button id="delete">Delete</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
  <script>
    const deleteForm = document.querySelector('.delete-form');
    const passwordError = document.querySelector('.password-error');

    deleteForm.addEventListener('submit', async (e) => {
      e.preventDefault();

      const passwordObj = {
        password: document.getElementById('password').value,
      };

      const endpoint = `/products/delete-product/${e.target.dataset.doc}`;
      try {
        const response = await fetch(endpoint, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(passwordObj),
        });

        const data = await response.json();

        if (response.ok) {
          window.location.href = data.redirect;
        } else {
          passwordError.textContent = data[0].msg;
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
