<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="delete-product-content">
      <h2>Are you sure you want to delete <%=product.name %> ?</h2>
      <form class="delete-form" data-doc="<%= product._id %>">
        <label for="password"> Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Password"
        />
        <div class="password-error errors"></div>
        <button id="delete">Delete</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
