<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="edit-product-content">
      <h2>Edit: <%= product.name %></h2>
      <p>
        <img
          src="/<%= product.productImage.slice(7) %>"
          width="200px"
          height="200px"
        />
      </p>
      <form class="edit-product-form" data-doc="<%= product._id %>">
        <label for="name"> Product Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= product.name %>"
          required
        />
        <div class="name-error errors"></div>
        <label for="image"> Product image:</label>
        <input
          type="file"
          id="product-image-upload"
          name="productImage"
          accept="image/png, image/jpeg"
          required
        />
        <label for="name"> Stock Keeping Unit (SKU): </label>
        <input
          type="text"
          id="sku"
          name="sku"
          value="<%= product.sku %>"
          required
        />
        <div class="sku-error errors"></div>
        <label for="description"> Product Description:</label>
        <textarea id="description" name="description" required>
        <%= product.description %>
        </textarea>
        <div class="description-error errors"></div>
        <label for="cost"> Price (£):</label>
        <input
          type="number"
          id="price"
          name="price"
          value="<%= product.price %>"
          step="0.01"
          placeholder="0.00"
          required
        />
        <div class="price-error errors"></div>
        <label for="in stock"> In Stock:</label>
        <input
          type="checkbox"
          id="in-stock"
          name="inStock"
          checked="<%= product.inStock %>"
        />
        <label for="name"> Quantity:</label>
        <input
          type="number"
          id="quantity"
          name="quantity"
          value="<%= product.quantity %>"
          required
        />
        <div class="inStock-error errors"></div>
        <div class="quantity-error errors"></div>
        <label for="name"> Category:</label>
        <select name="category" id="category" required>
          <% categories.map((category) => { %>
          <option value="<%= category.categoryName %>">
            <%= category.categoryName %>
          </option>
          <%}) %>
        </select>
        <div class="category-error errors"></div>
        <label for="password"> Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Password"
        />
        <div class="password-error errors"></div>
        <button>Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
