<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="product-details-container">
      <div class="product-content">
        <h2><%= product.name %></h2>
        <p>
          <img src="<%= product.productImage %>" width="200px" height="200px" />
        </p>
        <p>Availability: <%=product.inStock ? 'In stock' : 'Out of stock'%></p>
        <p>SKU: <%= product.sku %></p>
        <p>
          Category: <% categories.forEach((category) => { if
          (category.categoryName === product.category) {%>
          <%=category.categoryName %>
        </p>
        <p>Category description: <%= category.description %></p>
        <% }}) %>
        <p>Price Per Unit: £ <%= product.price.toFixed(2)%></p>
        <p>Quantity: <%= product.quantity %></p>
        <p>Value: £ <%=(product.quantity*product.price).toFixed(2)%></p>
        <p>Description: <%= product.description %></p>
        <p>Created at: <%= product.createdAt %></p>
        <p>Last updated: <%= product.updatedAt %></p>
      </div>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
